<%- include ('../partials/header') %> <%- include ('../partials/loggedInMenu') %>

<main>
    <div class="container">
      <% if (locals.message) { %>
        <div
          class="alert alert-success"
          role="alert"
        >
          <%= message %>
        </div>
        <% } %>
        <h1>Draft your team!</h1>

        <table class="table">
            <tbody>
              <tr>
                <th scope="col">Player Name</th>
                <th scope="col">Player Team</th>
                <th scope="col">Position</th>
                <th scope="col"></th>
              </tr>
              <% players.forEach(player => { %>
              <tr>
                <td><%=player.name%></td>
                <td><%=player.team%></td>
                <td><%=player.position%></td>
                <td>
                  <form action = '/draft/add/' method = 'POST'>
                      <button type="submit" class="btn btn-success">Add to Team</button>
                      <input type="hidden" name = "name" value = "<%= player.name %> "></input>
                  </form>
                </td>
              </tr>             
              <%});%>
            </tbody>
          </table>       
      </div>
</main>

<%- include ('../partials/footer') %>