<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <div class="container">
        <table class="table">
          <tbody>
            <tr>
              <th scope="col">Team Place</th>
              <th scope="col">Team Name</th>
              <th scope="col">Points</th>
              <th scope="col"></th>
            </tr>
            <% teams.forEach(team => { %>
            <tr>
              <td><%=team.team_name%></td>
              <td><%=team.weekly_points%></td>
              <td><%=team.team_score%></td>
              <td>
                <% } if (team.team_id == "1") { %>
                  <form action = '/teams/edit/' method = 'POST'>
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </form>
                <% } else { %>
                  <form action = '/teams/view/' method = 'POST'>
                    <button type="submit" class="btn btn-primary">View</button>
                  </form>
                <% };%>
              </td>
            </tr>             
            <%});%>
          </tbody>
        </table>
      </div>
</main>

<%- include ('../partials/footer') %>