<%- include ('../partials/header') %> <%- include ('../partials/loggedInMenu')%>

<main>
  <div class="container">
    <table class="table">
      <tbody>
        <div>
          <tr>
            <h1 class="pt-3" style="text-align: center">League Leaders</h1>
          </tr>
        </div>
        <div style="padding-top: 50px">
          <tr>
            <th>Rank</th>
            <th>Team Name</th>
            <th>Weekly Points</th>
            <th>Total Points</th>
          </tr>
          <%i = 0;%><%user_teams.forEach(user_team => { %>
          <tr>
            <%i = i+1;%>
            <td><%=i%></td>
            <td>
              <a class="nav-link" href="/view_team">
                <%=user_team.team_name%>
              </a>
            </td>
            <td>
              <div href="/view_team"><%=user_team.weekly_points%></div>
            </td>
            <td><%=user_team.team_score%></td>
          </tr>
        </div>

        <% }) %>
      </tbody>
    </table>
  </div>
</main>
